/*
 * Colour dictionary:
 *
 * Table control elements:   #719ba7
 * Header cells:             #66A9BD
 * Body header cells:        #91c5d4
 * Body content cells:       #d5eaf0
 * Body content cells (alt): #bcd9e1
 * Footer header:            #b0cc7f
 * Footer content:           #d7e1c5
 */


/*
 * Page setup styles
 */
body {
	
	margin: 0;
	padding: 0;
	/*color: #111;*/
	background-color: white;
}

#container {
	margin: 0 auto;
	width: 960px
}

h1 {
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	margin: 1em 0;
}

/*
 * DataTables framework
 */
div.dataTables_wrapper {
	/*background-color: #719ba7;
	background-color: #015075;*/
	width:98%;  
  height:auto;
	background-color: white;
	color: #111;
	
	
}

div.dataTables_length {
	float: left;
}

div.dataTables_filter {
	float: right;
}

div.dataTables_info {
	padding: 9px 6px 6px 6px;
	float: left;
}

div.dataTables_paginate {
	float: right;
}

div.dataTables_length,
div.dataTables_filter,
div.dataTables_paginate {
	padding: 6px;
}


/* Self clearing - http://www.webtoolkit.info/css-clearfix.html */
.dataTables_wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
html[xmlns] .dataTables_wrapper {
	display: block;
}
 
* html .dataTables_wrapper {
	height: 1%;
}


/*
 * Table styles
 */

*
 * Table styles
 */

table.prettyDetail {
	width: 90%;  
	clear: both;
	font-size:10px;
}

table.prettyDetail td,
table.prettyDetail th {
	padding: 5px;
	border: 0px solid white;
}

/* Header cells */
table.prettyDetail thead th {
	text-align: center;
	padding: 15px;
	color: white;
	background: #0288D1;
}



/* Body cells */
table.prettyDetail tbody th {
	text-align: left;
	background: #01c5d4;
	vertical-align: top;
	
	
}
	
table.prettyDetail tbody td {
	text-align: left;
	background: #d5eaf0;
	color: #111;
	overflow: hidden;
	vertical-align: top;
}

table.pretty {
	width: 90%;  
	clear: both;
	font-size:12px;
	text-align: center;
  border: 1px solid #0288D1 !important;;
  border-radius: 1.5px 1.5px 1.5px 1.5px!important;
}

table.pretty td,
table.pretty th {
	padding: 5px;
  font-size:14px;
}

/* Header cells */
table.pretty thead th {
	text-align: center;
	padding: 5px;
	color: white;
	background: #0272A7;
}



/* Body cells */
table.pretty tbody th {
	text-align: left;
	background-color: #0288D1;
	vertical-align: top;
	
	
}
	
table.pretty tbody td {
	background: #E1F5FE;
	color: #111;
	overflow: hidden;
	vertical-align: top;
}

table.pretty a {
  color : #0277BD;
}
		
table.pretty tbody tr.odd td { 
	background: white;
	color: #111;
}

table.pretty tbody tr td:hover { 
  background-color: lightyellow;
}

/* Footer cells */	
table.pretty tfoot th {
	background: #0272A7;
	text-align: center;
	color: white;
	vertical-align: top;
}
	
table.pretty tfoot td {
	background: #d7e1c5;
	text-align: center;
	font-weight: bold;
	color: white;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous,
.paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	float: left;
	cursor: pointer;
	*cursor: hand;
	color: #111 !important;
}
.paginate_disabled_previous:hover, .paginate_enabled_previous:hover,
.paginate_disabled_next:hover, .paginate_enabled_next:hover {
	text-decoration: none !important;
}
.paginate_disabled_previous:active, .paginate_enabled_previous:active,
.paginate_disabled_next:active, .paginate_enabled_next:active {
	outline: none;
}

.paginate_disabled_previous,
.paginate_disabled_next {
	color: #666 !important;
}
.paginate_disabled_previous, .paginate_enabled_previous {
	padding-left: 23px;
}
.paginate_disabled_next, .paginate_enabled_next {
	padding-right: 23px;
	margin-left: 10px;
}

.paginate_disabled_previous {
	background: url('../images/back_disabled.png') no-repeat top left;
}

.paginate_enabled_previous {
	background: url('../images/back_enabled.png') no-repeat top left;
}
.paginate_enabled_previous:hover {
	background: url('../images/back_enabled_hover.png') no-repeat top left;
}

.paginate_disabled_next {
	background: url('../images/forward_disabled.png') no-repeat top right;
}

.paginate_enabled_next {
	background: url('../images/forward_enabled.png') no-repeat top right;
}
.paginate_enabled_next:hover {
	background: url('../images/forward_enabled_hover.png') no-repeat top right;
}

/*
 * Sorting
 */
table.pretty thead th.sorting_asc {
  background: #0288D1 
}

table.pretty thead th.sorting_desc {
  background: #0288D1 
}

table.pretty thead th.sorting {
  background: #0288D1 
}


/*table.dataTable thead .sorting { background: url('../packages/DataTables-1.10.8/media/images/sort_both.png') no-repeat right;padding-left: 1% }*/y



/*
 * Control feature layout
 */
.dataTables_wrapper {
  position: relative;
  clear: both;
  *zoom: 1;
  zoom: 1;
}
.dataTables_wrapper .dataTables_length {
  float: left;
}
.dataTables_wrapper .dataTables_filter {
  float: right;
  text-align: right;
}
.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em;
}
.dataTables_wrapper .dataTables_info {
  clear: both;
  float: left;
  padding-top: 0.755em;
}
.dataTables_wrapper .dataTables_paginate {
  float: right;
  text-align: right;
  padding-top: 0.25em;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: #333 !important;
  border: 1px solid transparent;
  border-radius: 2px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #333 !important;
  border: 1px solid #979797;
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #dcdcdc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, white 0%, #dcdcdc 100%);
  /* W3C */
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #666 !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: 1px solid #111;
  background-color: #585858;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #585858 0%, #111 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #585858 0%, #111 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #585858 0%, #111 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #585858 0%, #111 100%);
  /* W3C */
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  outline: none;
  background-color: #2b2b2b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
  /* W3C */
  box-shadow: inset 0 0 3px #111;
}
.dataTables_wrapper .dataTables_paginate .ellipsis {
  padding: 0 1em;
}

#container {
    display: table;
}

#row  {
    display: table-row;
}

#left, #right, #middle {
    display: table-cell;
}

td.details-control {
    text-align: center;
    cursor: pointer;
}
tr.details td.details-control {
    #background: '{{url('/images/details_close.png')}}' no-repeat center center;
}

td {  
  padding-left: 5px;
  padding-right: 5px;
}

td.highlight {
    background-color: whitesmoke !important;
}
.panel-header, .panel-body {
    border-width: 1px;
    border-style: solid;
}

.progress-bar-danger {
    background-color: #c30000;
    color:white;
}
.progress-bar-warning {
    background-color: #FF9800;
    color:inherit;
}
.progress-bar-info {
    background-color: #0091EA;
    color:inherit;
}
.progress-bar-striped, .progress-striped .progress-bar {
background-image:none!important;
}
.btn-info:hover {
    color: #009688!important;
    background-color: #EEEEEE!important;
    border-radius: 1.5px 1.5px 1.5px 1.5px!important;
    border:1px solid #a8a8a8
}
.btn-info {
    color: #009688!important;
    background-color: white;
    border-radius: 1.5px 1.5px 1.5px 1.5px!important;
    border:1px solid #a8a8a8;
}
.btn-default {
    color: #009688;
    background-color: white;
    border-radius: 1.5px 1.5px 1.5px 1.5px!important;
    border:1px solid #a8a8a8;
}
.btn-default:hover {
    color: #009688;
    border-radius: 1.5px 1.5px 1.5px 1.5px!important;
    border:1px solid #a8a8a8;

}
input{
	border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #0091EA;
}
#Germline-All::-webkit-scrollbar { 
    display: none;

}

#var_layout::-webkit-scrollbar { 
    display: none;
}

#case_container::-webkit-scrollbar { 
    display: none;
}


.panel .layout-panel .layout-panel-center .easyui-fluid{
	overflow-y: scroll;
}

#tabCases::-webkit-scrollbar { 
    display: none;
}

#Summary::-webkit-scrollbar { 
    display: none;
}

#lblCountDisplay{
  color: #009688!important;

}
table tbody, table thead
{
  display: contents;
}

table tbody 
{
   overflow: auto;
}
iframe{
  overflow-y: hidden !important;
}
#case::-webkit-scrollbar { 
    display: none;
}
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  margin-top: 20px;
  margin-left: 50px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #5A55A3;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #5A55A3;
  background-image: #5A55A3;
  color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #5A55A3;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
