  .node {
    cursor: pointer;
  }

  .overlay{
      background-color:#FFF;
  }
   
  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 10px;
  }
   
  .node text {
    font-size:17px; 
    color:red; 
    font-family:sans-serif;
  }

  .Exome text {
    font-size:18px; 
    text-decoration:underline;
    color:red; 
    font-family:sans-serif;
  }
   
  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 3px;
  }

  .templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
  }

  .ghostCircle.show{
      display:block;
  }

  .ghostCircle, .activeDrag .ghostCircle{
       display: none;
  }
